@charset "utf-8";.owl-carousel .animated{-webkit-animation-duration:1000ms;animation-duration:1000ms;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.owl-carousel .owl-animated-in{z-index:0;}
.owl-carousel .owl-animated-out{z-index:1;}
.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut;}
@-webkit-keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}
.owl-height{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;overflow:hidden!important;height:345px;}
.owl-carousel{display:none;width:100%;-webkit-tap-highlight-color:transparent;position:relative;z-index:1;overflow:hidden!important;}
.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;overflow:hidden!important;height:345px!important;}
.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0px, 0px, 0px);}
.owl-nav{/*width:100%;position:absolute;top:40%;*/overflow:hidden;}
.owl-prev{float:left;background:#BDC1C3 url("../_images/previous-slide.png");padding:15px;opacity:0.8;position: absolute;    top: 40%;}
.owl-next{float:right;background:#BDC1C3 url("../_images/next-slide.png");padding:15px;opacity:0.8;margin-left:96%;position: absolute;    top: 40%;}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot{cursor:pointer;cursor:hand;display:block !important;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden!important;}
.owl-carousel.owl-loaded{display:block;overflow:hidden!important;}
.owl-carousel.owl-loading{opacity:0;display:block;overflow:hidden!important;}
.owl-carousel.owl-hidden{opacity:0;}
.owl-carousel .owl-refresh .owl-item{display:none;overflow:hidden!important;}
.owl-carousel .owl-item{position:relative;min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;overflow:hidden!important;height:365px;}
.owl-carousel .owl-item img{display:block;width:100%;-webkit-transform-style:preserve-3d;margin-left:8px;overflow:hidden!important;}
.owl-carousel.owl-text-select-on .owl-item{-webkit-user-select:auto;-moz-user-select:auto;-ms-user-select:auto;user-select:auto;}
.owl-carousel .owl-grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab;}
.owl-carousel.owl-rtl{direction:rtl;}
.owl-carousel.owl-rtl .owl-item{float:right;}
.no-js .owl-carousel{display:block;}
.owl-carousel .owl-item .owl-lazy{opacity:0;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease;}
.owl-carousel .owl-item img{transform-style:preserve-3d;margin-left:0px;overflow:hidden!important;}
.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000;}
.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url("owl.video.play.png") no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;-webkit-transition:scale 100ms ease;-moz-transition:scale 100ms ease;-ms-transition:scale 100ms ease;-o-transition:scale 100ms ease;transition:scale 100ms ease;}
.owl-carousel .owl-video-play-icon:hover{-webkit-transition:scale(1.3, 1.3);-moz-transition:scale(1.3, 1.3);-ms-transition:scale(1.3, 1.3);-o-transition:scale(1.3, 1.3);transition:scale(1.3, 1.3);}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon{display:none;}
.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;-webkit-transition:opacity 400ms ease;-moz-transition:opacity 400ms ease;-ms-transition:opacity 400ms ease;-o-transition:opacity 400ms ease;transition:opacity 400ms ease;}
.owl-carousel .owl-video-frame{position:relative;z-index:1;}
.owl-carousel figcaption{font-family:EenaduUH;text-align:center;font-size:19px;width:96%;height:auto;color:inherit;padding-top:7px;font-weight:normal;margin-bottom:2px;}

/*owl.theme.default.css*/
.owl-theme .owl-dots{text-align:center;-webkit-tap-highlight-color:transparent}
.owl-theme .owl-dots .owl-dot{cursor:pointer;display:inline-block;zoom:1;*display:inline}
.owl-theme .owl-dots .owl-dot span{width:10px;height:10px;margin:5px 7px;background:#D6D6D6;display:block;-webkit-backface-visibility:visible;transition:opacity 200ms ease;border-radius:30px;}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{background:#E4564B;}

/*slick*/
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0 0 0 5%;padding:0;width:90%}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
@charset 'UTF-8';.slick-dots,.slick-next,.slick-prev{position:absolute;display:block;padding:0}.slick-loading .slick-list{background:url(ajax-loader.gif) center center no-repeat #fff}@font-face{font-family:slick;font-weight:400;font-style:normal;src:url(fonts/slick.eot);src:url(fonts/slick.eot?#iefix) format('embedded-opentype'),url(fonts/slick.woff) format('woff'),url(fonts/slick.ttf) format('truetype'),url(fonts/slick.svg#slick) format('svg')}.slick-next,.slick-prev{font-size:0;line-height:0;top:38%;width:20px;height:20px;cursor:pointer;color:transparent;border:none;outline:0;background:0 0}.slick-next:focus,.slick-next:hover,.slick-prev:focus,.slick-prev:hover{color:transparent;outline:0;background:0 0}.slick-next:focus:before,.slick-next:hover:before,.slick-prev:focus:before,.slick-prev:hover:before{opacity:1}.slick-next.slick-disabled:before,.slick-prev.slick-disabled:before{opacity:.25}.slick-next:before,.slick-prev:before{font-family:slick;font-size:42px;line-height:1;color:#DD0D0D}.slick-prev{left:-15px;z-index:10000000}[dir=rtl] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'v'}.slick-next:before,[dir=rtl] .slick-prev:before{content:'u'}.slick-next{right:-15px}[dir=rtl] .slick-next{right:auto;left:-25px}[dir=rtl] .slick-next:before{content:'v'}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{bottom:-25px;width:100%;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:0;background:0 0}.slick-dots li button:focus,.slick-dots li button:hover{outline:0}.slick-dots li button:focus:before,.slick-dots li button:hover:before{opacity:1}.slick-dots li button:before{font-family:slick;font-size:6px;line-height:20px;position:absolute;top:0;left:0;width:20px;height:20px;content:'•';text-align:center;opacity:.25;color:#000;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-dots li.slick-active button:before{opacity:.75;color:#000}
/*font-eUni.css*/
body{font-family:Arial, Helvetica, sans-serif;}
.eng-body{font-family:Arial, Helvetica, sans-serif;font-size:12px;}
.eng-headings{font-family:Arial, Helvetica, sans-serif;font-size:16px;}
.telugu_uni_headings{font-family:EenaduUH;font-size:26px;color:#2691F3;font-weight:normal;}
.telugu_uni_headings.sub-head{font-family:EenaduUH;font-size:24px;color:#222;font-weight:normal;}
.telugu_uni_headings.sub-head1{font-family:EenaduUH;font-size:20px;color:#222;font-weight:normal;}
.telugu_uni_headings.sub-head2{font-family:EenaduUH;font-size:18px;color:#222;font-weight:normal;}
.telugu_uni_headings.sub-head-more{font-family:EenaduUH;font-size:16px;color:#222;font-weight:normal;}
.telugu_uni_headings.tab-head{font-family:EenaduUH;font-size:24px;color:#222;font-weight:normal;}
.telugu_uni_body{font-family:EenaduU;font-size:24px;line-height:29px;font-weight:normal;}
.article-title-rgt, .article-title{font-family:EenaduUH;color:#2691F3;font-weight:normal;font-size:19px;width:220px;}
.blue{color:#2691F3;font-weight:normal;}
.black{color:#000;font-weight:normal;}

/*normalize.css*/
@charset "utf-8";article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}
audio, canvas, video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;line-height:1.231;}
body, button, input, select, textarea{font-family:sans-serif;color:#222;}
a{color:inherit;text-decoration:none;}
a:visited{color:inherit;}
a:hover{color:#000;}
a:focus{outline:thin dotted;}
a:hover, a:active,a:visited ,a:focus{outline:none;}
abbr[title]{border-bottom:1px dotted;}
b, strong{font-weight:bold;}
blockquote{margin:1em 20px;}
dfn{font-style:italic;}
hr{display:block;height:1px;border:0;border-top:1px solid #efefef;margin:1em 0;padding:0;}
ins{background:#ff9;color:#000;text-decoration:none;}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold;}
pre, code, kbd, samp{font-family:monospace, monospace;_font-family:'courier new', monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before, q:after{content:"";content:none;}
small{font-size:85%;}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul, ol{padding:0 0 0 0px;}
dd{margin:0 0 0 40px;}
nav ul, nav ol{list-style:none;list-style-image:none;margin:0;padding:0;}
img{border:0;-ms-interpolation-mode:bicubic;vertical-align:middle;}
svg:not(:root){overflow:hidden;}
figure, p, hr{margin:0;}
h1, h2, h3, h4, h5, h6, h7{margin:5px auto;padding:0;line-height:100%;}
form{margin:0;}
fieldset{border:0;margin:0;padding:0;}
label{cursor:pointer;}
legend{border:0;*margin-left:-7px;padding:0;}
button, input, select, textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button, input{line-height:normal;*overflow:visible;}
table button, table input{*overflow:auto;}
button, input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
input[type="checkbox"], input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;resize:vertical;}
input:valid, textarea:valid{}
input:invalid, textarea:invalid{background-color:#f0dddd;}
table{border-collapse:collapse;border-spacing:0;}
td{vertical-align:top;}
.ir{display:block;border:0;text-indent:-999em;overflow:hidden;background-color:transparent;background-repeat:no-repeat;text-align:left;direction:ltr;}
.ir br{display:none;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto;}
.invisible{visibility:hidden;}
.clearfix:before, .clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media print{*{background:transparent !important;color:black !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;}
a, a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
abbr[title]:after{content:" (" attr(title) ")";}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after{content:"";}
pre, blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
tr, img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p, h2, h3{orphans:3;widows:3;}
h2, h3{page-break-after:avoid;}
}

/*tiny*/
@chartset-'utf-8';#slider1{height:100%;overflow:hidden;position:relative;}
#slider1 .viewport{height:280px;overflow:hidden;position:relative;}
#slider1 .buttons{background:#C01313;border-radius:35px;display:block;position:absolute;top:50%;left:0;width:35px;height:35px;color:#fff;font-weight:bold;text-align:center;line-height:35px;text-decoration:none;font-size:22px;}
#slider1 .next{right:0;left:auto;top:50%;}
#slider1 .buttons:hover{color:#C01313;background:#fff;}
#slider1 .disable{visibility:hidden;}
#slider1 .overview{list-style:none;position:absolute;padding:0;width:294px;left:0;top:0;margin:0px;}
#slider1 .overview li{float:left;margin-left:6px;height:100%;width:294px;margin-right:-9px;overflow:hidden;}

@charset "utf-8";*::after, *::before{}
.cd-tabs{position:relative;width:100%;max-width:960px;}
.cd-tabs nav{-webkit-overflow-scrolling:touch;}
.cd-tabs-navigation:after{content:"";display:table;clear:both;}
.cd-tabs-navigation li{float:left;}
.cd-tabs-navigation a{background-color:#e1e1e1;border-top-left-radius:10px;border-top-right-radius:10px;position:relative;display:block;text-align:center;font-weight:normal;margin-right:3px;}
.no-touch .cd-tabs-navigation a:hover{background-color:#8ECCFF;border-top-left-radius:10px;border-top-right-radius:10px;margin-right:3px;}
.cd-tabs-navigation a.selected{background-color:#e1e1e1 !important;border-top-left-radius:10px;border-top-right-radius:10px;}
@media only screen and (min-width:960px){.cd-tabs nav{position:relative;float:none;background:transparent;box-shadow:none;}
}
@media only screen and (min-width:960px){.cd-tabs-navigation{width:auto;}
.cd-tabs-navigation a{height:45px;line-height:50px;padding:0 0.8em 0 0.4em;text-align:left;width:auto;}
.cd-tabs-navigation a.selected{color:#2691F3;}
.cd-tabs-navigation a::before{top:50%;margin-top:0px;margin-left:0;left:38px;}
}
.cd-tabs-content{background:#ffffff;}
.cd-tabs-content li{display:none;}
.cd-tabs-content li.selected{display:block;}
@media only screen and (min-width:960px){.cd-tabs-content{min-height:0;}
}